{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Plennus {%endblock%}</title>
    {% tailwind_css %}
</head>
<body class="bg-white">
    <nav class="bg-amber-200 text-2xl">
        {% if user.is_authenticated %}
            <a href="{% url 'get_usuarios' %}">Usuarios</a>
            <a href="{% url 'nuevo_usuario' %}">Crear Usuario</a>
            <a href="{% url 'crear_rutina' %}">Crear Rutina</a>
            <a href="{% url 'get_consultas' %}">Consultas</a>
            
            
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button
                type="submit"
                style="cursor: pointer;"
                >Logout</button>
                
            </form>
        {% else %}
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'login' %}">Iniciar Sesion</a>
        <a href="{% url 'nueva_consulta' %}">Consultas</a>
        {% endif %}
    </nav>
    {% block body %}
    <!--  -->
    {% endblock %}
</body>
</html>